# ============================================================
# DJANGO
# ============================================================
DEBUG=True
SECRET_KEY=django-insecure-CHANGE-ME-IN-PRODUCTION
ALLOWED_HOSTS=localhost,127.0.0.1
DJANGO_SETTINGS_MODULE=config.settings.dev

# ============================================================
# BASE DE DONNÉES
# ============================================================
# Dev  : laisser vide → SQLite automatique
# Prod : postgres://USER:PASSWORD@HOST:5432/DBNAME
DATABASE_URL=

# ============================================================
# SASPAY (à remplir depuis votre tableau de bord SASPAY)
# ============================================================
SASPAY_API_KEY=sk_live_VOBE_0PnrGBq4my2fq2NzXl7c9P3GApodDmDkrmv_h8
SASPAY_SECRET_KEY=
SASPAY_BASE_URL=https://api.saspay.me/api/v1
SASPAY_WEBHOOK_SECRET=39d27d25499e2e13d5b0d03a46635d660f255c70a66c8724a364b3c855757c3c

# ============================================================
# WHATSAPP
# ============================================================
WHATSAPP_PAYMENT_NUMBER=+243830360200

# ============================================================
# EMAIL (Gmail SMTP)
# ============================================================
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_HOST_USER=kalumemmanueljohn@gmail.com
EMAIL_HOST_PASSWORD=clrc rlyq gnkh dnjz
EMAIL_USE_TLS=True
DEFAULT_FROM_EMAIL=Bantondo's Génération ASBL <kalumemmanueljohn@gmail.com>

# ============================================================
# PRODUCTION / SÉCURITÉ
# ============================================================
CSRF_TRUSTED_ORIGINS=https://votre-domaine.com